@charset "UTF-8";

@font-face {
    font-family: Android ;
    src: url(pacote-projeto-d010/fontes/idroid.otf)
    format('opentype');
}

header > nav > a {
    color: white;
    margin: 10px;

}

header>p{
    text-align: center;
    
}

header{
    width: auto;
    border: 0px;
    margin: 0px;
    padding: 10px;
    height: auto ;
    background-color: rgb(12, 175, 12);

}

h1{
    color: white;
    text-align: center;

}